<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Threema_Desktop_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Threema_Desktop_Client.Properties.Settings>
            <setting name="notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="linklistener" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultbrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closetotray" serializeAs="String">
                <value>False</value>
            </setting>
        </Threema_Desktop_Client.Properties.Settings>
    </userSettings>
</configuration>